.notification-banner {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}


.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.notification-banner.success {
  background-color: #28a745;
}

.notification-banner.error {
  background-color: #dc3545;
}

.notification-banner.info {
  background-color: #007bff;
}
