<aside class="sidebar">
    <div class="profile-card">
      <img [src]="currentUser?.avatar || 'assets/default-avatar.png'" alt="Avatar" class="avatar" />
      <h3>{{ currentUser?.pseudo }}</h3>
      <p>Dernière connexion :</p>
      <p class="last-login">{{ lastLogin || 'inconnue' }}</p>
    </div>
  
    <div class="connected-users">
      <h4>Utilisateurs connectés :</h4>
      <ul>
        <li *ngFor="let user of connectedUsers" class="user-item">
          <img [src]="user.avatar || 'assets/default-avatar.png'" class="mini-avatar" />
          {{ user.pseudo }} <span class="online-dot"></span>
        </li>
      </ul>
    </div>
</aside>
  